script(type="text/template" data-template="cardUserTpl")
    div.item
        div#profile-page-header.card
            div.card-image.waves-effect.waves-block.waves-light
                a.btn.blue-grey.darken-3.p-0(href="#" style="display:flex;align-items:center;height:20px;width:auto;justify-content:space-around;margin: 10px;position: absolute;")
                        i.material-icons.orange-text.accent-2.small(style="padding:.2rem;") verified_user
                img.activator(src="/assets/images/users/pictures/${picture}" alt="user background")

            figure.card-profile-image(style="top:30px")
                img.circle.z-depth-2.responsive-img.activator.gradient-45deg-light-blue-cyan.gradient-shadow(src="/assets/images/users/avatars/${avatar}" alt="profile image")
            div.card-content.pb-0
                div.row.pt-2.pb-2.mb-0
                    div.col.s12.m11
                        h4.card-title.grey-text.text-darken-4 ${fullname}
                        p.medium-small.grey-text Membre de l'association
                    div.col.s12.m1.right-align(style="margin-top:-10px")
                        a.btn-floating.activator.waves-effect.waves-light.rec.accent-2.right
                            i.material-icons perm_identity

            div.card-reveal
                p
                    span.card-title.grey-text.text-darken-4 ${fullname}
                        i.material-icons.right close
                    span
                        i.material-icons.cyan-text.text-darken-2 perm_identity
                        | Membre de l'association
                p(style="display:flex;align-items:center;")
                    i.material-icons.cyan-text.text-darken-2 email
                    | ${email}

                //- form( id=`delete-${_id}` method="POST" action=`/admin/users/${_id}`)
                //-     input(type="hidden" name="_method" value="delete")
                //-     button.btn-flat.btn-delete-user(form=`delete-${_id}` style="padding:0;height:1rem;line-height:1rem;"): i.material-icons.red-text.lighten-1(style="font-size:24px;") delete
                //-     span.red-text Supprimer le membre

