div.item.product(id=`${article._id}`)
    div.card
        div.card-image.waves-effect.waves-block.waves-light
            a.btn.btn-price.blue-grey.darken-3.p-0(href="#" style="display:flex;align-items:center;height:20px;width:auto;justify-content:space-around;")
                if article.status
                    i.material-icons.teal-text.accent-4.small(style="padding:.2rem;") visibility
                else
                    i.material-icons.red-text.accent-2.small(style="padding:.2rem;") visibility_off
                if article.access
                    i.material-icons.orange-text.accent-2.small(style="padding:.2rem;") lock
            a(href="#"): img(src=`/assets/images/blog/thumb/${article.picture}` alt="item-img" height="250")
        ul.card-action-buttons
            li: a.btn-floating.waves-effect.waves-light.cyan
                i.material-icons.activator pageview
            li: a.btn-floating.waves-effect.waves-light.deep-orange.accent-2(href=`/admin/blog/articles/${article._id}`)
                i.material-icons mode_edit
            li
                form( id=`${article._id}` method="POST" action=`/admin/blog/articles/${article._id}`)
                    input(type="hidden" name="_method" value="delete")
                    button.btn-floating.waves-effect.waves-light.red.accent-2.btn-delete-article(form=`${article._id}`)
                        i.material-icons delete
        div.card-content
            div.row
                div.col.s12
                    p.card-title.grey-text.text-darken-4
                        a.grey-text.text-darken-4.truncate(href="#") #{article.title}
        div.card-reveal
            span.card-title.grey-text.text-darken-4
                i.material-icons.right close
                | #{article.title} #{article.access}
            p #{article.excerpt}